@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-ms: 700px;
  --breakpoint-ml: 900px;
  --breakpoint-ql: 1134px;
  --breakpoint-xxl: 1316px;

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-base-background: rgb(var(--base-background));
  --color-base-foreground: rgb(var(--base-foreground));
  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-darker-secondary-foreground: rgb(var(--darker-secondary-foreground));
  --color-custom-bg1: rgb(var(--custom-bg1));
  --color-custom-bg2: rgb(var(--custom-bg2));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));

  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 2s ease-in;
  --animate-blinking: fade-in 2s ease-in-out infinite;
  --animate-fadeout: fadeout 3s ease-out;
  --animate-slide-ltr: slide-ltr 2s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slide-ltr {
    35% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: translateX(150px);
    }
    60% {
      opacity: 0;
      transform: translateX(-150px);
    }
    61% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn-solid-root {
  @apply bg-primary-foreground text-primary enabled:hover:text-primary-foreground active:text-primary rounded-xl px-4 py-2 font-bold enabled:hover:bg-transparent;
  &:enabled:hover {
    color: rgb(255, 200, 153);
    background: linear-gradient(
      145deg,
      rgb(var(--neu-s-top)),
      rgb(var(--neu-s-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-s-top)),
      2px 2px 2px rgb(var(--neu-s-bot));
    @media (min-width: 1024px) {
      color: rgb(255, 198, 214);
      background: linear-gradient(
        145deg,
        rgb(var(--neu-p-top)),
        rgb(var(--neu-p-bot) / 0.5)
      );
      box-shadow:
        -2px -2px 4px rgb(var(--neu-p-top)),
        2px 2px 2px rgb(var(--neu-p-bot));
    }
  }
  &:enabled:active {
    background: rgb(var(--neu-s-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-s-top)),
      inset 2px 2px 4px rgb(var(--neu-s-bot));
    @media (min-width: 1024px) {
      background: rgb(var(--neu-p-top) / 0.2);
      box-shadow:
        inset -2px -2px 4px rgb(var(--neu-p-top)),
        inset 2px 2px 2px rgb(var(--neu-p-bot));
    }
  }
}

@utility btn-solid-base {
  @apply bg-foreground/20 rounded-lg;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-base-rounder {
  @apply bg-foreground/20 rounded-xl;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-p {
  @apply bg-primary-foreground text-primary rounded-lg;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-p-rounder {
  @apply bg-primary-foreground text-primary rounded-xl;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-s {
  @apply bg-secondary-foreground text-secondary rounded-lg;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-destructive {
  @apply bg-destructive-foreground/70 text-destructive rounded-lg;
  @apply enabled:hover:text-base-foreground px-4 py-2 font-bold;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-solid-google {
  @apply bg-primary-foreground text-primary enabled:hover:text-base-foreground/70 rounded-lg px-4 py-2 font-bold active:text-white;
}

@utility btn-outline-root {
  @apply text-secondary-foreground dark:enabled:hover:text-secondary-foreground rounded-lg px-4 py-2 font-bold;
  box-shadow: inset 0 0 0 3px rgb(var(--secondary-foreground));
  &:enabled:hover {
    color: rgb(255, 200, 153);
    background: linear-gradient(
      145deg,
      rgb(var(--neu-s-top)),
      rgb(var(--neu-s-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-s-top)),
      2px 2px 4px rgb(var(--neu-s-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-s-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-s-top)),
      inset 2px 2px 4px rgb(var(--neu-s-bot));
  }
}

@utility btn-outline-p {
  @apply enabled:hover:text-base-foreground/70 rounded-lg px-4 py-2 font-extrabold active:text-white;
  @apply text-primary-foreground;
  box-shadow: inset 0 0 0 3px rgb(var(--primary-foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-s {
  @apply enabled:hover:text-base-foreground/70 rounded-lg px-4 py-2 font-extrabold active:text-white;
  @apply text-secondary-foreground;
  box-shadow: inset 0 0 0 3px rgb(var(--secondary-foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-base {
  @apply text-foreground rounded-lg px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(var(--foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-base-rounder {
  @apply text-foreground rounded-xl px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(var(--foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-destructive {
  @apply rounded-lg;
  @apply text-destructive-foreground px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(var(--destructive-foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-destructive-rounder {
  @apply rounded-xl;
  @apply text-destructive-foreground px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(var(--destructive-foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-socials {
  @apply text-foreground rounded-lg px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(230, 230, 230);
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-instagram {
  @apply text-foreground rounded-lg px-[14px] py-[5px] font-extrabold active:border-none active:px-4 active:py-2 enabled:hover:border-none enabled:hover:px-4 enabled:hover:py-2;
  border: 3px solid transparent;
  background:
    linear-gradient(to right, rgb(var(--custom-bg1)), rgb(var(--custom-bg1)))
      padding-box,
    linear-gradient(
        160deg,
        rgb(94, 41, 129),
        rgb(202, 23, 23),
        rgb(185, 129, 50)
      )
      border-box;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-microsoft {
  @apply text-foreground rounded-lg px-[14px] py-[5px] font-extrabold active:border-none active:px-4 active:py-2 enabled:hover:border-none enabled:hover:px-4 enabled:hover:py-2;
  border: 3px solid transparent;
  background:
    linear-gradient(to right, rgb(var(--custom-bg1)), rgb(var(--custom-bg1)))
      padding-box,
    linear-gradient(169deg, #f35325 15%, transparent 40%) border-box,
    linear-gradient(190deg, #81bc06 15%, transparent 40%) border-box,
    linear-gradient(348deg, #ffba08 25%, transparent 40%) border-box,
    linear-gradient(12deg, #05a6f0 25%, transparent 40%) border-box;
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-facebook {
  @apply text-foreground rounded-lg px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(24, 119, 242);
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-gitlab {
  @apply text-foreground rounded-lg px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 3px rgb(226, 67, 41);
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-outline-google {
  @apply text-foreground rounded-lg px-4 py-2 font-extrabold;
  box-shadow:
    inset 0 3px 0 rgba(255, 61, 0, 0.8),
    inset -3px 0 0 rgba(25, 118, 210, 0.8),
    inset 0 -3px 0 rgba(76, 175, 80, 0.8),
    inset 3px 0 0 rgba(255, 193, 7, 0.8);
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  &:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }
}

@utility btn-border-p {
  @apply bg-primary text-primary-foreground enabled:hover:text-base-foreground/70 rounded-3xl px-4 py-2 font-extrabold;
  box-shadow: inset 0 0 0 2px rgb(var(--primary-foreground));
  &:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-p-top)),
      rgb(var(--neu-p-bot-lighter))
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-p-top)),
      2px 2px 4px rgb(var(--neu-p-bot));
  }
  &:enabled:active {
    background: rgb(var(--neu-p-bot-lighter));
    color: rgb(255, 255, 255);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-p-top)),
      inset 2px 2px 4px rgb(var(--neu-p-bot));
  }
}

@utility btn-text-destructive {
  @apply text-destructive-foreground enabled:hover:bg-destructive/50 rounded-lg px-4 py-2 font-extrabold;
}

@utility btn-text-base {
  @apply text-foreground enabled:hover:bg-background/50 rounded-lg px-4 py-2 font-extrabold;
}

@utility btn-s-translucent-b {
  @apply bg-secondary-foreground/10 text-secondary-foreground/50 enabled:hover:bg-secondary enabled:hover:text-secondary-foreground dark:text-secondary-foreground/30 dark:enabled:hover:bg-secondary dark:enabled:hover:text-secondary-foreground h-9 rounded-3xl px-4 font-bold whitespace-nowrap;
}

@utility btn-circle-base {
  @apply gradient-base active:gradient-base-inset;
}
