@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-solid-root {
    @apply rounded-xl bg-primary-foreground px-4 py-2 font-bold text-primary enabled:hover:bg-transparent enabled:hover:text-primary-foreground active:text-primary;
  }
  .btn-solid-root:enabled:hover {
    color: rgb(255, 200, 153);
    background: linear-gradient(
      145deg,
      rgb(var(--neu-s-top)),
      rgb(var(--neu-s-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-s-top)),
      2px 2px 2px rgb(var(--neu-s-bot));
    @media (min-width: 1024px) {
      color: rgb(255, 198, 214);
      background: linear-gradient(
        145deg,
        rgb(var(--neu-p-top)),
        rgb(var(--neu-p-bot) / 0.5)
      );
      box-shadow:
        -2px -2px 4px rgb(var(--neu-p-top)),
        2px 2px 2px rgb(var(--neu-p-bot));
    }
  }
  .btn-solid-root:enabled:active {
    background: rgb(var(--neu-s-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-s-top)),
      inset 2px 2px 4px rgb(var(--neu-s-bot));
    @media (min-width: 1024px) {
      background: rgb(var(--neu-p-top) / 0.2);
      box-shadow:
        inset -2px -2px 4px rgb(var(--neu-p-top)),
        inset 2px 2px 2px rgb(var(--neu-p-bot));
    }
  }

  .btn-solid-base {
    @apply rounded-lg bg-foreground/20;
  }
  .btn-solid-base-rounder {
    @apply rounded-xl bg-foreground/20;
  }
  .btn-solid-p {
    @apply rounded-lg bg-primary-foreground text-primary;
  }
  .btn-solid-p-rounder {
    @apply rounded-xl bg-primary-foreground text-primary;
  }
  .btn-solid-s {
    @apply rounded-lg bg-secondary-foreground text-secondary;
  }
  .btn-solid-destructive {
    @apply rounded-lg bg-destructive-foreground/70 text-destructive;
  }
  .btn-solid-base,
  .btn-solid-base-rounder,
  .btn-solid-p,
  .btn-solid-p-rounder,
  .btn-solid-s,
  .btn-solid-destructive {
    @apply px-4 py-2 font-bold enabled:hover:text-base-foreground;
  }
  .btn-solid-base:enabled:hover,
  .btn-solid-base-rounder:enabled:hover,
  .btn-solid-p:enabled:hover,
  .btn-solid-p-rounder:enabled:hover,
  .btn-solid-s:enabled:hover,
  .btn-solid-destructive:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 2px rgb(var(--neu-base-bot));
  }
  .btn-solid-base:enabled:active,
  .btn-solid-base-rounder:enabled:active,
  .btn-solid-p:enabled:active,
  .btn-solid-p-rounder:enabled:active,
  .btn-solid-s:enabled:active,
  .btn-solid-destructive:enabled:active {
    background: rgb(var(--neu-base-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-base-top)),
      inset 2px 2px 4px rgb(var(--neu-base-bot));
  }

  .btn-solid-google {
    @apply rounded-lg bg-primary-foreground px-4 py-2 font-bold text-primary enabled:hover:text-base-foreground/70 active:text-white;
  }

  .btn-outline-root {
    @apply rounded-lg px-4 py-2 font-bold text-secondary-foreground enabled:hover:dark:text-secondary-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--secondary-foreground));
  }
  .btn-outline-root:enabled:hover {
    color: rgb(255, 200, 153);
    background: linear-gradient(
      145deg,
      rgb(var(--neu-s-top)),
      rgb(var(--neu-s-bot) / 0.5)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-s-top)),
      2px 2px 4px rgb(var(--neu-s-bot));
  }
  .btn-outline-root:enabled:active {
    background: rgb(var(--neu-s-top) / 0.2);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-s-top)),
      inset 2px 2px 4px rgb(var(--neu-s-bot));
  }

  .btn-outline-p,
  .btn-outline-s {
    @apply rounded-lg px-4 py-2 font-extrabold enabled:hover:text-base-foreground/70 active:text-white;
  }
  .btn-outline-base {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--foreground));
  }
  .btn-outline-base-rounder {
    @apply rounded-xl px-4 py-2 font-extrabold text-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--foreground));
  }
  .btn-outline-p {
    @apply text-primary-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--primary-foreground));
  }
  .btn-outline-s {
    @apply text-secondary-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--secondary-foreground));
  }
  .btn-outline-destructive {
    @apply rounded-lg;
  }
  .btn-outline-destructive-rounder {
    @apply rounded-xl;
  }
  .btn-outline-destructive,
  .btn-outline-destructive-rounder {
    @apply px-4 py-2 font-extrabold text-destructive-foreground;
    box-shadow: inset 0 0 0 3px rgb(var(--destructive-foreground));
  }
  .btn-outline-socials {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground;
    box-shadow: inset 0 0 0 3px rgb(230, 230, 230);
  }
  .btn-outline-instagram {
    @apply rounded-lg px-[14px] py-[5px] font-extrabold text-foreground enabled:hover:border-none enabled:hover:px-4 enabled:hover:py-2 active:border-none active:px-4 active:py-2;
    border: 3px solid transparent;
    background:
      linear-gradient(to right, rgb(var(--custom-bg1)), rgb(var(--custom-bg1)))
        padding-box,
      linear-gradient(
          160deg,
          rgb(94, 41, 129),
          rgb(202, 23, 23),
          rgb(185, 129, 50)
        )
        border-box;
  }
  .btn-outline-microsoft {
    @apply rounded-lg px-[14px] py-[5px] font-extrabold text-foreground enabled:hover:border-none enabled:hover:px-4 enabled:hover:py-2 active:border-none active:px-4 active:py-2;
    border: 3px solid transparent;
    background:
      linear-gradient(to right, rgb(var(--custom-bg1)), rgb(var(--custom-bg1)))
        padding-box,
      linear-gradient(169deg, #f35325 15%, transparent 40%) border-box,
      linear-gradient(190deg, #81bc06 15%, transparent 40%) border-box,
      linear-gradient(348deg, #ffba08 25%, transparent 40%) border-box,
      linear-gradient(12deg, #05a6f0 25%, transparent 40%) border-box;
  }
  .btn-outline-facebook {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground;
    box-shadow: inset 0 0 0 3px rgb(24, 119, 242);
  }
  .btn-outline-gitlab {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground;
    box-shadow: inset 0 0 0 3px rgb(226, 67, 41);
  }
  .btn-outline-google {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground;
    box-shadow:
      inset 0 3px 0 rgba(255, 61, 0, 0.8),
      inset -3px 0 0 rgba(25, 118, 210, 0.8),
      inset 0 -3px 0 rgba(76, 175, 80, 0.8),
      inset 3px 0 0 rgba(255, 193, 7, 0.8);
  }
  .btn-outline-base:enabled:hover,
  .btn-outline-base-rounder:enabled:hover,
  .btn-outline-p:enabled:hover,
  .btn-outline-s:enabled:hover,
  .btn-outline-destructive:enabled:hover,
  .btn-outline-destructive-rounder:enabled:hover,
  .btn-outline-socials:enabled:hover,
  .btn-outline-instagram:enabled:hover,
  .btn-outline-microsoft:enabled:hover,
  .btn-outline-facebook:enabled:hover,
  .btn-outline-gitlab:enabled:hover,
  .btn-outline-google:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-top)),
      rgb(var(--neu-base-bot-lighter) / 0.3)
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-base-top)),
      2px 2px 4px rgb(var(--neu-base-bot));
  }
  .btn-outline-base:enabled:active,
  .btn-outline-base-rounder:enabled:active,
  .btn-outline-p:enabled:active,
  .btn-outline-s:enabled:active,
  .btn-outline-destructive:enabled:active,
  .btn-outline-destructive-rounder:enabled:active,
  .btn-outline-socials:enabled:active,
  .btn-outline-instagram:enabled:active,
  .btn-outline-microsoft:enabled:active,
  .btn-outline-facebook:enabled:active,
  .btn-outline-gitlab:enabled:active,
  .btn-outline-google:enabled:active {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-base-bot-lightest) / 0.3),
      rgb(var(--neu-base-top-darker))
    );
    box-shadow:
      inset -4px -4px 4px rgb(var(--neu-base-top)),
      inset 4px 4px 4px rgb(var(--neu-base-bot));
  }

  .btn-border-p {
    @apply rounded-3xl bg-primary px-4 py-2 font-extrabold text-primary-foreground enabled:hover:text-base-foreground/70;
    box-shadow: inset 0 0 0 2px rgb(var(--primary-foreground));
  }
  .btn-border-p:enabled:hover {
    background: linear-gradient(
      145deg,
      rgb(var(--neu-p-top)),
      rgb(var(--neu-p-bot-lighter))
    );
    box-shadow:
      -2px -2px 4px rgb(var(--neu-p-top)),
      2px 2px 4px rgb(var(--neu-p-bot));
  }
  .btn-border-p:enabled:active {
    background: rgb(var(--neu-p-bot-lighter));
    color: rgb(255, 255, 255);
    box-shadow:
      inset -2px -2px 4px rgb(var(--neu-p-top)),
      inset 2px 2px 4px rgb(var(--neu-p-bot));
  }

  .btn-text-destructive {
    @apply rounded-lg px-4 py-2 font-extrabold text-destructive-foreground enabled:hover:bg-destructive/50;
  }
  .btn-text-base {
    @apply rounded-lg px-4 py-2 font-extrabold text-foreground enabled:hover:bg-background/50;
  }

  .btn-s-translucent-b {
    @apply h-9 whitespace-nowrap rounded-3xl bg-secondary-foreground/10 px-4 font-bold text-secondary-foreground/50 enabled:hover:bg-secondary enabled:hover:text-secondary-foreground dark:text-secondary-foreground/30 dark:enabled:hover:bg-secondary dark:enabled:hover:text-secondary-foreground;
  }
  .btn-circle-base {
    @apply gradient-base active:gradient-base-inset;
  }
}
