@import "tailwindcss";

@layer components {
  .card-image {
    border: 6px solid transparent;
    background: linear-gradient(
        145deg,
        rgb(var(--neu-base-top-darker) / 0.5),
        rgb(var(--neu-base-bot-lighter) / 0.5)
      )
      border-box;
    box-shadow:
      -4px -4px 4px rgb(var(--neu-base-top)),
      4px 4px 4px rgb(var(--neu-base-bot));
  }
  .card-image:active {
    background: linear-gradient(
        145deg,
        rgb(var(--neu-base-bot)),
        rgb(var(--neu-base-top))
      )
      border-box;
  }
  .card-stats {
    background: rgb(var(--foreground) / 0.05);
    box-shadow: 0 -2px 2px rgb(var(--neu-base-top));
  }
  .card-socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    background:
      linear-gradient(
          145deg,
          rgb(var(--neu-base-top-darker) / 0.7),
          rgb(var(--neu-base-bot-lighter) / 0.3)
        )
        padding-box,
      linear-gradient(
          145deg,
          rgb(var(--neu-base-bot-lightest)),
          rgb(var(--neu-base-top-darkest))
        )
        border-box;
    box-shadow:
      -3px -3px 4px rgb(var(--neu-base-top)),
      3px 3px 4px rgb(var(--neu-base-bot));
  }
  .card-socials:hover {
    background:
      linear-gradient(
          145deg,
          rgb(var(--neu-base-top-darker)),
          rgb(var(--neu-base-top-darkest))
        )
        padding-box,
      linear-gradient(
          145deg,
          rgb(var(--neu-base-top-darkest)),
          rgb(var(--neu-base-top))
        )
        border-box;
  }
  .card-socials:active {
    background:
      linear-gradient(
          145deg,
          rgb(var(--neu-base-bot-lightest) / 0.3),
          rgb(var(--neu-base-top-darkest) / 0.7)
        )
        padding-box,
      linear-gradient(
          145deg,
          rgb(var(--neu-base-top)),
          rgb(var(--neu-base-bot))
        )
        border-box;
  }
  .card-socials::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(var(--background));
    border-radius: 50px;
    box-shadow:
      inset 2px 2px 1px rgb(var(--neu-base-top)),
      inset -2px -2px 1px rgb(var(--neu-base-bot));
  }
  .card-socials:active::before {
    box-shadow:
      inset 2px 2px 1px rgb(var(--neu-base-bot)),
      inset -2px -2px 1px rgb(var(--neu-base-top));
  }
}
