@utility logo-base-stop-top {
  stop-color: rgb(255, 255, 255);
  .dark & {
    stop-color: rgba(156, 156, 156, 0.9);
  }
}

@utility logo-base-stop-mid {
  stop-color: rgba(226, 226, 226, 0.9);
  .dark & {
    stop-color: rgba(66, 66, 66, 0.9);
  }
}

@utility logo-base-stop-bot {
  stop-color: rgba(206, 206, 206, 0.9);
  .dark & {
    stop-color: rgba(46, 46, 46, 0.9);
  }
}

@utility dark {
  & .logo-base-stop-top {
    stop-color: rgba(156, 156, 156, 0.9);
  }
  & .logo-base-stop-mid {
    stop-color: rgba(66, 66, 66, 0.9);
  }
  & .logo-base-stop-bot {
    stop-color: rgba(46, 46, 46, 0.9);
  }
  & .logo-base-flood-top {
    flood-color: rgb(175, 175, 175);
  }
  & .logo-p-stop-top {
    stop-color: rgba(151, 111, 74, 0.9);
  }
  & .logo-p-stop-mid {
    stop-color: rgba(66, 49, 26, 0.9);
  }
  & .logo-p-stop-bot {
    stop-color: rgba(43, 27, 6, 0.9);
  }
}

@utility logo-base-flood-top {
  flood-color: rgb(255, 255, 255);
  .dark & {
    flood-color: rgb(175, 175, 175);
  }
}

@utility logo-base-flood-bot {
  flood-color: oklch(var(--neu-base-bot));
}

@utility logo-p-stop-top {
  stop-color: rgb(255, 242, 224);
  .dark & {
    stop-color: rgba(151, 111, 74, 0.9);
  }
}

@utility logo-p-stop-mid {
  stop-color: rgba(240, 193, 148, 0.9);
  .dark & {
    stop-color: rgba(66, 49, 26, 0.9);
  }
}

@utility logo-p-stop-bot {
  stop-color: rgba(201, 177, 147, 0.9);
  .dark & {
    stop-color: rgba(43, 27, 6, 0.9);
  }
}