@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-ms: 700px;
  --breakpoint-ml: 900px;
  --breakpoint-ql: 1134px;
  --breakpoint-xxl: 1316px;

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-base-background: rgb(var(--base-background));
  --color-base-foreground: rgb(var(--base-foreground));
  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-darker-secondary-foreground: rgb(var(--darker-secondary-foreground));
  --color-custom-bg1: rgb(var(--custom-bg1));
  --color-custom-bg2: rgb(var(--custom-bg2));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));

  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 2s ease-in;
  --animate-blinking: fade-in 2s ease-in-out infinite;
  --animate-fadeout: fadeout 3s ease-out;
  --animate-slide-ltr: slide-ltr 2s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slide-ltr {
    35% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: translateX(150px);
    }
    60% {
      opacity: 0;
      transform: translateX(-150px);
    }
    61% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility logo-base-stop-top {
  stop-color: rgb(255, 255, 255);
  .dark & {
    stop-color: rgba(156, 156, 156, 0.9);
  }
}

@utility logo-base-stop-mid {
  stop-color: rgba(226, 226, 226, 0.9);
  .dark & {
    stop-color: rgba(66, 66, 66, 0.9);
  }
}

@utility logo-base-stop-bot {
  stop-color: rgba(206, 206, 206, 0.9);
  .dark & {
    stop-color: rgba(46, 46, 46, 0.9);
  }
}

@utility dark {
  & .logo-base-stop-top {
    stop-color: rgba(156, 156, 156, 0.9);
  }
  & .logo-base-stop-mid {
    stop-color: rgba(66, 66, 66, 0.9);
  }
  & .logo-base-stop-bot {
    stop-color: rgba(46, 46, 46, 0.9);
  }
  & .logo-base-flood-top {
    flood-color: rgb(175, 175, 175);
  }
  & .logo-p-stop-top {
    stop-color: rgba(151, 111, 74, 0.9);
  }
  & .logo-p-stop-mid {
    stop-color: rgba(66, 49, 26, 0.9);
  }
  & .logo-p-stop-bot {
    stop-color: rgba(43, 27, 6, 0.9);
  }
}

@utility logo-base-flood-top {
  flood-color: rgb(255, 255, 255);
  .dark & {
    flood-color: rgb(175, 175, 175);
  }
}

@utility logo-base-flood-bot {
  flood-color: rgb(var(--neu-base-bot));
}

@utility logo-p-stop-top {
  stop-color: rgb(255, 242, 224);
  .dark & {
    stop-color: rgba(151, 111, 74, 0.9);
  }
}

@utility logo-p-stop-mid {
  stop-color: rgba(240, 193, 148, 0.9);
  .dark & {
    stop-color: rgba(66, 49, 26, 0.9);
  }
}

@utility logo-p-stop-bot {
  stop-color: rgba(201, 177, 147, 0.9);
  .dark & {
    stop-color: rgba(43, 27, 6, 0.9);
  }
}