@import 'tailwindcss';
@import "./css/styles.css";
@import "./css/button.css";
@import "./css/card.css";
@import "./css/logo.css";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-ms: 700px;
  --breakpoint-ml: 900px;
  --breakpoint-ql: 1134px;
  --breakpoint-xxl: 1316px;

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-base-background: rgb(var(--base-background));
  --color-base-foreground: rgb(var(--base-foreground));
  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-darker-secondary-foreground: rgb(var(--darker-secondary-foreground));
  --color-custom-bg1: rgb(var(--custom-bg1));
  --color-custom-bg2: rgb(var(--custom-bg2));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));

  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 2s ease-in;
  --animate-blinking: fade-in 2s ease-in-out infinite;
  --animate-fadeout: fadeout 3s ease-out;
  --animate-slide-ltr: slide-ltr 2s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slide-ltr {
    35% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: translateX(150px);
    }
    60% {
      opacity: 0;
      transform: translateX(-150px);
    }
    61% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 220 220 220;
    --foreground: 15 15 15;

    --base-background: 255 255 255;
    --base-foreground: 0 0 0;

    --card: 219 204 193;
    --card-foreground: 69 59 60;

    --popover: 240 240 240;
    --popover-foreground: 10 10 10;

    --primary: 242 178 143;
    --primary-foreground: 117 50 52;

    --secondary: 252 176 93;
    --secondary-foreground: 117 67 18;
    --darker-secondary-foreground: 33 19 5;

    --muted: 180 180 180;
    --muted-foreground: 115 115 115;

    --accent: 158 158 158;
    --accent-foreground: 58 58 58;

    --destructive: 237 178 178;
    --destructive-foreground: 125 14 14;

    --border: 77 77 77;
    --input: 250 250 250;
    --ring: 10 10 10;

    --neu-base-top: 255 255 255;
    --neu-base-top-darker: 215 215 215;
    --neu-base-top-darkest: 175 175 175;
    --neu-base-bot: 50 50 50;
    --neu-base-bot-lighter: 70 70 70;
    --neu-base-bot-lightest: 90 90 90;
    --neu-p-top: 255 213 198;
    --neu-p-bot: 69 53 58;
    --neu-p-bot-lighter: 173 129 113;
    --neu-s-top: 255 198 117;
    --neu-s-bot: 107 63 0;

    --custom-bg1: 237 237 237;
    --custom-bg2: 153 153 153;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 23 23 23;
    --foreground: 220 220 220;

    --base-background: 0 0 0;
    --base-foreground: 255 255 255;

    --card: 32 26 26;
    --card-foreground: 204 190 194;

    --popover: 10 10 10;
    --popover-foreground: 250 250 250;

    --primary: 64 28 13;
    --primary-foreground: 204 127 102;

    --secondary: 41 25 3;
    --secondary-foreground: 232 159 58;
    --darker-secondary-foreground: 122 84 31;

    --muted: 50 50 50;
    --muted-foreground: 140 140 140;

    --accent: 58 58 58;
    --accent-foreground: 158 158 158;

    --destructive: 38 4 4;
    --destructive-foreground: 255 66 66;

    --border: 127 127 127;
    --input: 10 10 10;
    --ring: 212 212 212;

    --neu-base-top: 120 120 120;
    --neu-base-top-darker: 100 100 100;
    --neu-base-top-darkest: 80 80 80;
    --neu-base-bot: 0 0 0;
    --neu-base-bot-lighter: 20 20 20;
    --neu-base-bot-lightest: 40 40 40;
    --neu-p-top: 145 131 122;
    --neu-p-bot: 36 27 30;
    --neu-p-bot-lighter: 64 52 47;
    --neu-s-top: 156 94 6;
    --neu-s-bot: 31 18 1;

    --custom-bg1: 35 35 35;
    --custom-bg2: 65 65 65;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  body {
    @apply overflow-x-hidden border-border bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
  a p,
  a h1,
  a h2,
  a h3 {
    @apply hover:brightness-125;
  }
  hr {
    @apply border-neutral-400 dark:border-neutral-700;
  }
  input::placeholder {
    @apply opacity-75 dark:text-neutral-500;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }
  button[type="submit"]:disabled {
    cursor: not-allowed;
  }
}
